:root {
  --body-bg: #fafafa;
  --button-hover: #d8d4bc;
  --calc-bg: #777;
  --button-color-0: #212529;
  --button-color-1: #f00;
  --button-color-2: #00f;
  --button-color-3: #8a2be2;
}

.dark-mode:root {
  --body-bg: #212529;
  --button-hover: #9a6613;
  --calc-bg: #000;
  --button-color-0: #d8d4bc;
  --button-color-1: #f63e3e;
  --button-color-2: #6161b2;
  --button-color-3: #9264bd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: var(--body-bg);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  width: 20rem;
  background-color: var(--calc-bg);
  border-radius: 6px;
  padding: 1rem;
  margin-top: 2rem;
}

.display {
  width: 100%;
}

.display__input {
  width: 100%;
  border-radius: 6px;;
  padding: .5rem;
  font-size: 2rem;
  text-align: right;
  background-color: var(--body-bg);
  color: var(--button-color-0)
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%;
}

.keyboard__line {
  display: flex;
  justify-content: space-between;
  gap: .75rem
}

.button {
  width: 5rem;
  border-radius: 6px;
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--body-bg);
  color: var(--button-color-0);
}

.button:hover {
  background-color: var(--button-hover);
}

.button-clear {
  color: var(--button-color-1);
}

.button-clear:hover {
  background-color: var(--button-color-1);
  color: var(--button-color-0);
}

.button-operator {
  color: var(--button-color-2);
}

.button-equal {
  background-color: var(--button-color-2);
  color: var(--button-color-0);
}

.button-equal:hover {
  background-color: var(--button-color-3);
}

.switch {
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow + label {
  padding: 2px;
  width: 60px;
  height: 32px;
  background-color: var(--calc-bg);
  border-radius: 30px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: var(--body-bg);
  border-radius: 30px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 31px;
  background-color: var(--button-hover);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
  background-color: var(--body-bg);
}
.switch--shadow:checked + label:after {
  transform: translateX(26px);
}